#avatarContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#avatarImg {
    border: 1px;
    border-radius: 45px;
    height: 90px;
    width: 90px;
    object-fit: contain;
    filter: blur(1px);
}

#avatarEXImg {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

label {
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-family: sans-serif;
}